#topbar {
  position: relative;
  top: 0;

  color: var(--bs-secondary);
  background: var(--bg-dark);
  border-bottom: 1px solid var(--border-color);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#topbar .topbar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

#topbar img.logo {
  width: 20px;
  object-fit: fill;
  opacity: 0.9;
}

#topbar a {
  color: white;
  text-decoration: none;
}

#topbar ul {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

#topbar li {
  display: block;
  padding: 0.75em 1em;
  transition-duration: 0.3s;
}

#topbar li:hover,
#topbar li:focus-within {
  cursor: pointer;
  background-color: var(--bg-dark-secondary);
}

#topbar li:focus-within a {
  outline: none;
}

#topbar ul li ul {
  position: absolute; /* Relative to nav */
  right: 0;
  z-index: 200;

  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  align-content: center;

  gap: 0.25em 0.5em;

  padding: 1em;
  width: 100%;
  max-height: 0;
  margin-top: 0.75rem;

  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  background-color: var(--bg-dark-secondary);
  transition: all 0.3s ease;
}

#topbar ul li ul.show,
/* #topbar ul li:hover > ul, */
#topbar ul li:focus-within > ul,
/* #topbar ul li ul:hover, */
#topbar ul li ul:focus {
  visibility: visible;
  opacity: 1;
  /* display: block; */
  max-height: 1000vh;
}

#topbar ul li ul li {
  clear: both;
  padding: 0;
}

#topbar li a {
  width: 100%;
  padding: 0.75em 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  transition-duration: 0.3s;
}

#topbar ul li ul li:focus-within a,
#topbar ul li ul li:hover a {
  background: #fff1;
  border-color: #fff;
}

@media (min-width: 576px) {
  #topbar ul li ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  #topbar ul li ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media (min-width: 992px) {
  #topbar ul li ul {
    grid-template-columns: repeat(4, 1fr);
  }
} */
