.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  padding: 3em 0 0 0;

  width: 100vw;
  max-height: 0vh;

  background: var(--bg-light);

  visibility: hidden;
  opacity: 0;

  transition: all 0.3s ease;
}

.modal-container.show {
  max-height: 1000vh;
  min-height: 100%;

  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: relative;
  top: -50px;
  
  max-height: 90vh;
  padding: 1em;

  background: var(--bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: all 0.5s ease;
}

.modal-container.show .modal-content {
  top: 0px;
}

.close-button {
  cursor: pointer;

  position: absolute;
  right: 1em;
  top: 1em;
  color: var(--bs-secondary);
}
